/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding:0;
  overflow: hidden;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
.mainmenu {
  display: block;
  background-color:white;
  text-decoration: none;
  padding: 0px;
  font-size:24px;
  text-align: center;
  color:black;
}  

.mainmenu a {
  padding: 15px;
}

/* add hover behaviour */
.mainmenu a:hover {
    background-color: rgb(36, 141, 217);
    color: white;
}

/* add hover behaviour */
.menuitem a:hover {
    background-color: rgb(36, 141, 217);
    padding: 0px 0px;
    color: white;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.subitem a {
    font-size: 20px;
    background-color: white;
    color: black;
}
.subitem a:hover {
    background-color: white;
    color: rgb(36, 141, 217);
}


/* GENERAL */

  h1 {
    font-size: 3.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: rgb(36, 141, 217);
  }

  h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
  }
  h3 {
    font-size: 2.0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
  }
  .small {
    font-family:'Geneva';
  }
  a {
    text-decoration: none;
    color: rgb(36, 141, 217);
  }