/* reset our lists to remove bullet points and padding */
#menudiv {
  text-align:center;
}
/* make ALL links (main and submenu) have padding and background color */
.mainmenu {
  display: block;
  background-color:white;
  text-decoration: none;
  padding: 10px;
  font-size:24px;
  text-align: center;
  color:black;
}  
lu.mainmenu {
  display:inline-block;
  list-style-type:none;
}
li.menuitem {
  position:relative;
  display:inline-block;
  padding: 5px 10px;
  margin: 0 10px;
}
a.menuitem {
  padding: 0px;
}
/* add hover behaviour */
.menuitem a:hover {
    background-color: rgb(36, 141, 217);
    color: white;
}
ul.submenu {
  display:none;
  position:absolute;
  list-style-type:none;
}
/* when hovering over a .menuitem, display the submenu inside it. */
.menuitem:hover > ul.submenu {
  display: block;
} 

/* GENERAL */

  h1 {
    font-size: 3.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: rgb(36, 141, 217);
  }

  h2 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
  }

  h3 {
    font-size: 2.0em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
  }

  .small {
    font-family:'Geneva';
  }

  a {
    text-decoration: none;
    color: rgb(36, 141, 217);
  }