body {
    margin: 10px auto;
    width: 90%;
    left: 10px;
    float: right;
    min-height: 100vh;
    background-size: cover;
    background-color: white;
}

.header{
    width:80%;
    top: 10px;
    height: 10%;
    left: 10px;
    position: relative;
}

.main-title {
    margin: 10px;
    padding: 0.5;
    color: black;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-transform: uppercase;
}

.main-title .thin {
    font-weight: 100;
    color:#2D9831;
}

/* The images */
.image {
    font-size: 0;
    text-align: top;
    width: 500px;  /* Container's dimensions */
    height: 100px;
}
img {
    display: inline-block;
    vertical-align: top;
    max-height: 100%;
    max-width: 100%;
}
.trick {
    display: inline-block;
    vertical-align: top;
    height: 150px;
    position: relative;
    left:0;
    top:0;
}

.ima-top {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 220px;
   height: 500px;
   margin-top: -250px; /* Half the height */
   margin-left: -50px; /* Half the width */
}
  
a {
    text-decoration: none;
    color: grey;
}
 
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: grey;
}
footer {
    border-top: 1px solid black;
    font-size: .8em;
}
footer a {
    text-decoration: none;
    color: #2A752D;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
    list-style: none;
    padding:0;
    overflow: hidden;
    margin: 0;
  }
  
  /* make ALL links (main and submenu) have padding and background color */
  .mainmenu a {
    display: block;
    background-color:white;
    text-decoration: none;
    padding: 0;
    font-size:24px;
    text-align: center;
    color:black;
  }
  
  /* add hover behaviour */
  .mainmenu a:hover {
      background-color: darkgrey;
      color: white;
  }
  
  
  /* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */
  
  .mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
  }
  
  /*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */
  
  .submenu a {
    background-color:white;
    color:darkgrey;
}
  
  /* hover behaviour for links inside .submenu */
  .submenu a:hover {
    background-color:lightgrey;
    color: white;
  }
    
  /* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */
  .submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
  }


