body {
    margin: 0 auto;
    width: 90%;
    left: 0;
    min-height: 100vh;
    background-size: cover;
    background-color: white;
}

.header{
    width:80%;
    height: 10%;
    position: relative;
}

.main-title {
    padding: 0.5;
    color: black;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-transform: uppercase;
}

.main-title .thin {
    font-weight: 100;
}

.container {
    align: center;
}

/*  start dropdown menu */
/*.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/
/*
.dropdown {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/


/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}

/*  end dropdown menu */

.longtext {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align:justify;
}

/* The images */
.imagetop {
    font-size: 0;
    border-radius: 30%;
    width: 600px;  /* Container's dimensions */
    height: 300px;
    position: relative;
    top: 10%;
    left: 50%;
    margin-top: -150px; /* Half the height */
    margin-left: -300px; /* Half the width */
}

p {
    font-size: 1em;
    line-height: 1.5em;
    font-family: 'Verdana', 'Sans-Serif';
    color: rgba(122, 122, 122, 0.966);
}
footer {
    border-top: 1px solid black;
    font-size: 1.0em;
}
footer a {
    text-decoration: none;
    font-size: 1.0em;
}

/* all colours*/
.r{  
    color:rgb(224, 25, 14);
}
.g{  
    color: rgb(101, 153, 17);
}
.b{
    color: rgb(36, 141, 217);
}
.y{
    color: rgb(128, 19, 201); 
}
.o{
    color: rgb(234, 157, 25); 
}
    