body {
    margin: 10px auto;
    width: 90%;
    left: 10px;
    float: right;
    min-height: 100vh;
    background-size: cover;
    background-color: white;
}

.header{
    width:80%;
    top: 10px;
    height: 10%;
    left: 10px;
    background-image:"../images/main.jpg";
    position: relative;
}

.main-title {
    margin: 10px;
    padding: 0.5;
    color: black;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-transform: uppercase;
}

.main-title .thin {
    font-weight: 100;
    color:#2D9831;
}

/* The side navigation menu */
nav {
    height: 10%; /* 100% Full-height */
    width: 80%; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 10; /* Stay on top */
    float: left;
    top: 10px;
    left: 20px;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* When you mouse over the navigation links, change their color */
nav a:hover, .offcanvas a:focus{
    color:white;
    font-size: 30px;
    text-decoration: underline;
}

/* The images */
.image {
    font-size: 0;
    text-align: top;
    width: 500px;  /* Container's dimensions */
    height: 100px;
}
img {
    display: inline-block;
    vertical-align: top;
    max-height: 100%;
    max-width: 100%;
}
.trick {
    display: inline-block;
    vertical-align: top;
    height: 150px;
    position: relative;
    left:0;
    top:0;
}

.ima-top {
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 400px;
    position: fixed;
    left:10px;
    top:10px;
}
  
a {
    text-decoration: none;
    color: grey;
}
 
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: grey;
}
footer {
    border-top: 1px solid black;
    font-size: .8em;
}
footer a {
    text-decoration: none;
    color: #2A752D;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
    list-style: none;
    padding:0;
    margin: 0;
  }
  
  /* make ALL links (main and submenu) have padding and background color */
  .mainmenu a {
    display: block;
    background-color:#2A752D;
    text-decoration: none;
    padding: 0;
    font-size:24px;
    text-align: center;
    color:white;
  }
  
  /* add hover behaviour */
  .mainmenu a:hover {
      background-color: #2D9831;
  }
  
  
  /* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */
  
  .mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
  }
  
  /*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */
  
  .submenu a {
    background-color:#2D9831;
    color:white;
}
  
  /* hover behaviour for links inside .submenu */
  .submenu a:hover {
    background-color:#21B726;
  }
  
  /* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */
  .submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
  }

  /*#canvas-overlay {
    position: relative;
    z-index: 98;
    opacity: 0.85;
  }
  
  #canvas-lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    opacity: 0.05;
  }*/