/* reset our lists to remove bullet points and padding */
  .mainmenu, .submenu {
    list-style: none;
    padding:0;
    overflow: hidden;
    margin: 0;
  }
  
  /* make ALL links (main and submenu) have padding and background color */
  .mainmenu {
    display: block;
    background-color:white;
    text-decoration: none;
    padding: 0;
    font-size:24px;
    text-align: center;
    color:black;
  }
 
  .mainmenu a {
    padding: 15px;
  }

  /* add hover behaviour */
  .mainmenu a:hover {
      background-color: rgb(224, 25, 14);
      color: white;
  }
  
  
  /* when hovering over a .mainmenu item,
    display the submenu inside it.
    we're changing the submenu's max-height from 0 to 200px;
  */
  
  .mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
  }
  
  /*
    we now overwrite the background-color for .submenu links only.
    CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */
  
  .submenu a {
    background-color:white;
    color:darkgrey;
}
  
  /* hover behaviour for links inside .submenu */
  .submenu a:hover {
    background-color:rgb(237, 103, 98);
    color: white;
  }
    
  /* this is the initial state of all submenus.
    we set it to max-height: 0, and hide the overflowed content.
  */
  .submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
  }
  h1 {
    font-size: 3.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: rgb(224, 25, 14);
}

h2 {
        font-size: 2.5em;
        font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
  a {
    text-decoration: none;
    color: rgb(224, 25, 14);
}

