<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/interests.css">		
	</head>
	<body>
		<div class="container"><!-- /.container -->				
					{{ content }}
		</div>
		<!-- Navigation -->
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<a href="/item2">Research </a>
				<a href="/item3">C.V.</a>
				<a href="/item4">More</a>
			</ul>
		</div>
		<footer>
		<div class="longtext">
			<h2> <span class='o'>H</span>ello!</h2>			
			<p>Even if I really love doing research (or at least I love trying) and it takes most of my time, 
				my interests and passions are not limited to it.<p>
			<p>I like to think of myself as a person who does never get tired to learn and who is curious 
				about everything around itself.</p>
			<p>One of my passions is travelling because It lets us the opportunity to discover new places and
				different cultures. I’m also an amateur photographer (and you can see some works 
				<a href="https://www.flickr.com/photos/139061948@N07/">here</a>) as well as a terrible chess player, 
				even if I really like to play <span class='o';)</span>.</p>
			<p>In my free time, I also try to do more sport as possible. In particular, I love to ride my mountain 
				bike up and down on the few hills available in Padova. I also enjoy practising tennis and jogging 
				with my girlfriend.</p>
			<p>Thanks for visiting my corner of the internet!</p>
		</div>
		<footer>
			<ul>
				<li><a href="/item5">Contact me</a></li>
			</ul>
		</footer>
	</body>
</html>
