<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/interests.css">		
	</head>
	<body>
		<div class="container"><!-- /.container -->				
					{{ content }}
		</div>
		<!-- Navigation -->
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<a href="/item2">Research </a>
				<a href="/item3">C.V.</a>
				<a href="/item4">About</a>
			</ul>
		</div>
		<footer>
			<p> chess, Verona, Padoca, Travel (South Africa), Mountain Bike</p>
		<footer>
			<ul>
				<li><a href="/contact">Contact me</a></li>
			</ul>
		</footer>
	</body>
</html>
