<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/cv.css">
	</head>
	<body>
		<!-- Navigation -->
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<a href="/item2">Research </a>
				<a href="/item3">C.V.</a>
				<a href="/item4">About</a>
			</ul>
		</div>
		<footer>
            <div>
                <h2><span class="b">D</span>emography of compact object binaries in the epoch of multi-messenger astronomy</h2>
                <div>	
                    <p>The recent direct detection of gravitational waves (GWs) by advanced LIGO confirmed the existence of double black hole (BH) binaries, which can merge within a Hubble time. 
                        Moreover, three of the fifth detected events (GW150914, GW170104 and GW170814) demonstrated the existence of heavy BHs, with mass > 30 Msun. 
                        Despite the importance of stellar-born compact objects for a plethora of astrophysical processes (i.e. X-ray binary, GW emission, etc), their mass spectrum is still matter of debate. 
                        Furthermore, the evolutionary channels of merging BHBs are still an open question. 
                        The main topic of my research (started during my master thesis) consists in studying the demography of double-compact object binaries by developing new population-syntheis tools and by coupling them with direct N-body simulations. 
                        My aim is to break current degeneracies between the two possible evolutionary channels of compact object binaries: primordial and dynamically formed binaries. 
                        This will allow me to put constraints on the origin of detected LIGO events and to make predictions for future observations.</p>
                </div>
            </div>
            <hr>
            <div>
                <h2><span class="b">N</span>ew population-synthesis code for the study of the demography of black hole binaries</h2>
                <div>
                    <p>The aim of my Master Thesis was to study the demographics of merging black hole (BH) binaries, by means of a new population-synthesis tool. 
                        I used SEVN (Stellar EVolution for N-body), a new public population-synthesis code developed by Spera, Mapelli & Bressan (2015, MNRAS, 451, 4086) where I implemented the module for the common-envelope (CE) evolution. 
                        I started working on the CE phase because it is one of the most important processes to explain the formation of close compact-object binaries.
                        I tested the new CE module in SEVN. For the second part of my Thesis, I did two important upgrades to BSE (Hurley et. al 2002, MNRAS, 329, 897). 
                        I added a new model of stellar winds (Vink et al. 2001a, A&A, 369, 574) and new recipes for two supernova explosion mechanisms called rapid and delayed (SNe, Fryer et al. 2012, ApJ, 749, 91). 
                        Finally, I have been running a grid of binary evolution models, to study the demographics of BH and neutron star (NS) binaries. 
                        My results show that the physics of stellar winds is crucial to explain the formation of massive BH binaries.</p>
                </div>
            </div>		
            <hr>
            <div>
                <h2><span class="b">B</span>ayesian analysis of stellar clusters using a Monte Carlo Markov Chain algorithm</h2>
                <div>	
                    <p>The aim of my Bachelor Thesis was the characterization of two open clusters, NGC6811 and NGC6819, by using a code developed during an internship at AIP (Leibniz Institute for Astrophysics Potsdam). 
                        Given in input a set of theoretical isochrones and photometric data of a cluster, the code uses an iterative method, based on the Monte Carlo Markov Chain algorithm, to determine the best-fitting parameters of the cluster (age, metallicity, distance, and reddening). 
                        The same method has been applied to NGC6811 for the first time by Janes et. al (2013, AJ, 145, 7) and we used this article as a reference for our work. 
                        Firstly, I have tested the code on the already characterized cluster NGC6811, using as input two different grids of isochrones (from Padova-Trieste PARSEC version 1.1 and Yale-Yonsei YY group) and photometric data in different filters available at KIC (Kepler Input Catalog). 
                        I obtained a good match with Janes et al. (2013), and then I applied this method, for the first time, to the cluster NGC6819. The results I obtained are in agreement with the literature.</p>
                </div>
            </div>
            <footer>
                <ul>
                    <li><a href="/contact">Contact me</a></li>
                </ul>
            </footer>
        </body>
    </html>
    