<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/contact.css">
	</head>
	<body>
		<div class="container"><!-- /.container -->				
			{{ content }}
		</div>
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<a href="/item2">Research </a>
				<a href="/item3">C.V.</a>
				<a href="/item4">About</a>
			</ul>
		</div>
		<footer>
						<h2 style="text-align:center"><span class='y'>C</span>ontact <span class='y'>D</span>etails</h2>
                <div class="column">
                  <p>Nicola Giacobbo (Ph.D. student)</p>
                  <p>INAF-Osservatorio Astronomico di Padova</p>
                  <p>Vicolo dell'osservatorio 5, I-3522 Padova, Italy</p>
                  <p>Email: nicola.giacobbo@oapd.inaf.it</p>
                </div>
                <div class="column">
                  <p>Phone: (+39)338-4868617</p>
                  <p>Dipartimento di Fisica e Astronomia "G.Galilei"</p>
                  <p>Vicolo dell'osservatorio 53, I-3522 Padova, Italy</p>
                  <p>Email: nicola.giacobbo.1@phd.unipd.it</p>
                </div>
        <footer>
	</body>
    </html>