<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/cv.css">
	</head>
	<body>
		<div class="container"><!-- /.container -->				
					{{ content }}
		</div>
		<!-- Navigation -->
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<div class="dropdown">
						<a href="/item2">Research</a>
						<div class="dropdown-content">
							<a href="/item5">List of articles</a>
							<a href="/item2">MOBSE</a>
							<a href="/item2">SEVN</a>
						</div>
					</div>	
					<a href="/item3">C.V.</a>
				<a href="/item4">More</a>
			</ul>
		</div>
		<footer>
				<div class="longtext">
					<p>The pdf version of my curriculum vitae is accessible at this <a href="/files/cv.pdf">link</a>, while you can find on this page a more concise version.</p>
				
					<div>
						<h2><span class="b">E</span>ducation</h2>
						<div>	
							<p><b>Ph. D. student in Astronomy </b><i><span class="small">Oct. 2016 - Current</span></i></p>
							<p>Ph. D. student in Astronomy, University of Padova. Thesis on "<i><a href='/files/abstract'>Demography of compact object binaries in the epoch of multi-messenger astronomy</a></i>", 
								supervisor: Prof. Michela Mapelli, co-supervisor: Dr. Mario Spera. </p>
						</div>
						<div>	
							<p><b> Visiting Ph. D. student </b><i><span class="small">Oct. 2017 - Dic. 2017</span></i></p>
							<p>Visiting Ph. D. student in Astronomy at Universiteit Leiden, hosted by Prof. Dr. Simon Portegies Zwart. I learnt how to use the software framework called <a href="http://www.amusecode.org">AMUSE</a>. 
								I also integrated in AMUSE our codes (<a href="/item2">SEVN</a> and <a href="/item2">MOBSE</a>).</p>
						</div>
						<div>
							<p><b>M. Sc. in Astronomy</b> <i><span class="small">Set. 2014 - Set. 2016</span></i></p>
							<p>Graduate student in Astronomy, University of Padova. Master Thesis on “<i><a href='/files/abstract'>New population-synthesis code for the study of the demography of black hole binaries</a></i>”, supervisor: Prof. Paola Marigo, 
								co-supervisors: Prof. Michela Mapelli, Dr. Mario Spera. Outside examiner: Dr. Luca Zampieri. Defense date: September 28th 2016. Mark: 110/110 cum laude. 
								Effort: 6 months.</p>
						</div>
						<div>
							<p><b>B. Sc. in Astronomy</b> <i><span class="small">Set. 2009 -  Mar. 2014</i></span></i></p>
							<p>Undergraduate student, University of Padova. Bachelor in Astronomy obtained on March 12th 2014, mark 97/110. Thesis on "<i><a href='/files/abstract'>Bayesian analysis of stellar clusters 
								using a Monte Carlo Markov Chain algorithm</a></i>", supervisor: Prof. Paola Marigo. Effort: 4 months.</p><br>
						</div>
					</div>
					<hr>
					<div>
						<h2><span class="b">P</span>ubblications</h2>
						<p><i class="small"> 2018 </i> <b>N. Giacobbo</b>, M. Mapelli, M. Spera, "<a href="https://arxiv.org/abs/1711.03556">Merging black hole binaries: the effects of progenitor's metallicity, mass-loss rate and Eddington factor</a>",
							2018, MNRAS, 474, 2959</p>
						<p><i class="small"> 2017 </i> M. Mapelli, <b>N. Giacobbo</b>, E. Ripamonti, M. Spera, "<a href="http://adsabs.harvard.edu/abs/2017MNRAS.472.2422M">The cosmic merger rate of stellar black hole binaries from the Illustris simulation</a>",
							2017, MNRAS, 472, 2422</p>
						<p><i class="small"> 2016 </i> M. Spera, <b>N. Giacobbo</b> and M. Mapelli, , "<a href="http://adsabs.harvard.edu/abs/2016MmSAI..87..575S">Shedding light on the black hole mass spectrum</a>", 2016, Memorie della SAIt (proceeeding of MODEST 16), 87, 575.</a> </p>
					</div>		
					<hr>
					<div>
						<h2><span class="b">F</span>ellowships & <span class="b">G</span>rants</h2>
						<div>	
							<p><b>Proposal</b> <i><span class="small">07/2017 - Current</span></i></p>
							<p>CO-I of the proposal “The impact of stellar dynamics on gravitational-wave sources”. Awarded 6,000,000 CPU+GPU hours on the CINECA supercomputers 
								MARCONI-A2 and GALILEO.</p>
						</div>
						<div>	
							<p><b>Grant</b> <i><span class="small">03/2018 - 9/2018</span></i></p>
							<p>Grant (5k EUR for 6 months) awarded by Fondazione Ing. Aldo Gini.</p>
						</div>
						<div>
							<p><b>Erasmus Placement</b> <i><span class="small">06/03/20107 - 18/06/2017</span></i></p>
							<p>Erasmus student at Leibniz Institute for Astrophysics Potsdam (AIP). I obtained an Erasmus Placement scholarship in February 2013. During the 
								internship, I worked on my bachelor thesis under the supervision of Prof. Dr. K. G. Strassmeier and Dr. Federico Spada.</p>
						</div>
						<div>
							<p><b>Erasmus Studium</b> <i><span class="small">02/09/2016 - 31/03/2012</span></i></p>
							<p>Erasmus student at Ruprecht Karl University of Heidelberg. I obtained an Erasmus Studium scholarship in April 2011.</p><br>
						</div>
					</div>
					<hr>				
					<div>
						<h2><span class="b">C</span>olloquia, <span class="b">M</span>eeting, <span class="b">T</span>alks & <span class="b">S</span>chools</h2>
						<div>

							<p><b>ISSI Project on Young Stars & BH Binaries:</b> Kick-off <a href="http://www.issibern.ch/teams/blackholebinary">meeting</a> <i><span class="small"> 13/11/2017 - 17/11/2017.</span></i></p>
						</div>
						<div>
							<p><b>26th Summer School on Parallel computing</b><i><span class="small"> 15/05/2017 - 26/05/2017.</span></i></p>
						</div>
						<div>
							<p><b>INFN School of Statistics 2017</b><i><span class="small"> 07/05/2017 - 22/05/2017.</span></i></p>
						</div>
						<div>
							<p><b>Introduction to Parallel Computing woth MPI and OpenMP</b><i><span class="small"> 22/02/20107 - 24/02/2017.</span></i></p>
						</div>
						<div>
							<p><b>Workshop:</b> Workshop on "Synergy between Population-synthesis models and LIGO-Virgo data analysis", INFN Padova, Italy, oral presentation, <i><span class="small"> 15/11/2016.</span></i></p><br>
						</div>
					</div>
					<div>
						<h2><span class="b">I</span>T <span class="b">K</span>nowledge</h2>
						<div>
						    <p><b>Operating Systems:</b> GNU/Linux, Mac OS and Windows.</p>
							<p><b>Programming languages:</b> C++, Fortran 77 and 90, python, Matlab, LATEX.</p>
							<p><b>Codes, user:</b> BSE (population synthesis code, <a href="http://astronomy.swin.edu.au/~jhurley/)">link here</a>.
							AMUSE (Astrophysical Multipurpose Software Environment, <a href="http://www.amusecode.org)">link here</a>.</p>
							<p><b>Codes, developer:</b> Stellar-EVolution for N-body (SEVN) code (Spera et al. 2015, MNRAS, 451, 4086), see section scientific
								interests for more details about the codes I have developed. Massive Objects in BSE (MOBSE) population synthesis code (Giacobbo 
								in preparation).</p>
							<p><b>Experience in parallel computing:</b> Usage of OpenMP and MPI.</p>
						</div>
					</div>
					<hr>
					<div>
						<h2><span class="b">O</span>ther <span class="b">E</span>xperiences</h2>
						<div>
							<p><b>Security staff</b> <span class="small">2014 - 2015</span></i></p>
							<p><b>Steward</b> <span class="small">2010 - 2014</span></i></p>
							<p><b>Figurante</b> <span class="small">2008 - 2009</span></i></p>
						</div>
					</div>	
				</div>
				<footer>
			<ul>
				<li><a href="/item5">Contact me</a></li>
			</ul>
		</footer>
	</body>
</html>
