<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/cv.css">
	</head>
	<body>
		<div class="container"><!-- /.container -->				
					{{ content }}
		</div>
		<!-- Navigation -->
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<a href="/item2">Research </a>
				<a href="/item3">C.V.</a>
				<a href="/item4">Interests</a>
			</ul>
		</div>
		<footer>
				<div>
					<h1>Education</h1>
					<div>	
 						<h2><b>Ph.D student in Astronomy </b><i><span class="small">Oct. 2016 - Current</span></i></h2>
						<p>Ph.D. student in Astronomy, University of Padova. Thesis on "<i><a>Demography of compact object binaries in the epoch of multi-messenger astronomy</a></i>", 
							supervisor: Prof. Michela Mapelli, co-supervisor: Dr. Mario Spera. </p>
						<hr>
					</div>
					<div>
						<h2><b>M. Sc in Astronomy</b> <i><span class="small">Set. 2014 - Set. 2016</span></i></h2>
						<p>Graduate student in Astronomy (LM-58 - Classe delle lauree magistrali in Scienze	dell’universo), Physics and Astronomy Department, University of 
							Padova. Master Thesis on “<i><a>new population-synthesis code for the study of the demography of black hole binaries</a></i>”, supervisor: Prof. Paola Marigo, 
							co-supervisors: Prof. Michela Mapelli, Dr. Mario Spera. Outside examiner: Dr. Luca Zampieri. Defense date: September 28th 2016. Mark: 110/110 cum laude. 
							Effort: 6 months.</p>
						<hr>
					</div>
					<div>
						<h2><b>B. Sc in Astronomy</b> <i><span class="small">Set. 2009 -  Mar. 2014</i></span></i></h2>
						<p>Undergraduate student, Physics and Astronomy Department, University of Padova. Bachelor
							in Astronomy (Classe L-30 scienze e tecnologie fisiche) obtained on March 12th 2014, mark 97/110. Thesis on "<i><a>Bayesian analysis of stellar clusters 
							 using a Monte Carlo Markov Chain algorithm</a></i>", supervisor: Prof. Paola Marigo. Effort: 4 months.</p><br>
					</div>
				</div>
				<div>
					<h1>Education</h1>
					<p>	</p>
					<p> </p>
				</div>		
				<div>
					<h1>Fellowships & grants</h1>
					<div>	
						<h2><b>Proposal</b> <i><span class="small">07/2017 - Current</span></i></h2>
						<p>CO-I of the proposal “The impact of stellar dynamics on gravitational-wave sources”. Awarded 6,000,000 CPU+GPU hours on the CINECA supercomputers 
							MARCONI-A2 and GALILEO.</p>
						<hr>
					</div>
					<div>
						<h2><b>SOCIS</b> <i><span class="small">7/05/2017 - 22/05/2017</span></i></h2>
						<p>Accepted participant to “ESA Summer Code In Space” (SOCIS) 2016 (more than 60 applicants for 20 positions, success rate ≤ 30 %). SOCIS, a program 
							run by the European Space Agency, aims at offering student developers stipends (4,000 euro) to write code for various space-related open source 
							software projects <a href="http://sophia.estec.esa.int/socis/">SOCIS</a>. I declined this offer, because I preferred to focus on my thesis and 
							doctoral application.</p>
						<hr>
					</div>
					<div>
						<h2><b>Erasmus Placement</b> <i><span class="small">06/03/20107 - 18/06/2017</span></i></h2>
						<p>Erasmus student at Leibniz Institute for Astrophysics Potsdam (AIP). I obtained an Erasmus Placement scholarship in February 2013. During the 
							internship, I worked on my bachelor thesis under the supervision of Prof. Dr. K. G. Strassmeier and Dr. Federico Spada.</p>
						<hr>
					</div>
					<div>
						<h2><b>Erasmus Studium</b> <i><span class="small"></span>02/09/2016 - 31/03/2012</i></h2>
						<p>Erasmus student at Ruprecht Karl University of Heidelberg. I obtained an Erasmus Studium scholarship in April 2011.</p><br>
					</div>
				</div>
			
				<div>
					<h1>Colloquia, talks & schools</h1>
					<div>
						<h2><b>26th Summer School on Parallel computing</b><i><span class="small">15/05/2017 - 26/05/2017</span></i></h2>
						<p>Participant at the "26th Summer School on Parallel Computing" organized by CINECA in Bologna, Italy.</p>
						<hr>
					</div>
					<div>
						<h2><b>INFN School of Statistics 2017</b><i><span class="small">07/05/2017 - 22/05/2017</span></i></h2>
						<p>Participant at the "INFN School of Statistics 2017" provide by INFN and organized in Ischia, Italy.</p>
						<hr>
					</div>
					<div>
						<h2><b>Introduction to Parallel Computing woth MPI and OpenMP</b><i><span class="small">22/02/20107 - 24/02/2017</span></i></h2>
						<p>Participant at the course "Introduction to Parallel Computing with MPI and OpenMP" provided by CINECA, Bologna, Italy.</p>
						<hr>
					</div>
					<div>
						<h2><b>Workshop</b><i><span class="small">15/11/2016</span></i></h2>
						<p>Workshop on "Synergy between Population-synthesis models and LIGO-Virgo data analysis", INFN Padova, Italy, oral presentation.</p><br>
					</div>
				</div>
										
				<div>
					<h1>Other Experiences</h1>
					<div>
						<h2><b>Security staff</b><i><span class="small">2014 - 2015</span></i></h2>
						<p>Security staff at Fondazione Arena di Veorna</p>
						<hr>
					</div>
					<div>
						<h2><b>Steward</b><i><span class="small">2010 - Dec. 2014</span></i></h2>
						<p>Steward at Hellas-Verona F.C./A.C. and ChievoVerona.</p>
						<hr>
					</div>
					<div>
						<h2><b>Figurante</b><span class="small">2008 - Mar. 2009</span></i></h2>
						<p>Figurante at Fondazione Arena di Verona. </p><br>
					</div>
				</div>
				<footer>
			<ul>
				<li><a href="mailto:giacobbo.nicola@gmail.com">e-mail</a></li>
			    <li><a href="https://github.com/giacobbonicola">github.com</a></li>
			</ul>
		</footer>
	</body>
</html>
