<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/cv.css">
	</head>
	<body>
		<div class="container"><!-- /.container -->
					{{ content }}
		</div>
		<!-- Navigation -->
		<div id="menudiv">
			<footer>
				<div class="mainmenu">
					<a href="/">Home</a>
					<a href="/item2">Research</a>
					<a href="/item3">C.V.</a>
					<a href="/item4">More</a>
				</div>
			<footer>

				</ul>
			</div>
			<div class="longtext">
				Here is my <a href="latexonline.cc/compile?git=https://github.com/GiacobboNicola/CV/blob/master&target=CV_easy.tex">CV</a> 
				and my <a href="latexonline.cc/compile?git=https://github.com/GiacobboNicola/CV/blob/master&target=LoP.tex">list of pubblications</a>
			</div>
			<footer>
			<ul>
				<li><a href="/item5">Contact me</a></li>
			</ul>
		</footer>
	</body>
</html>
