<!DOCTYPE html>
	<html lang="en">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<!-- Navigation -->
			<nav>
			<ul>	
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
			</ul>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			<!-- Use any element to open the sidenav -->
			<span onclick="openNav()">open</span>
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
               <li><a href="mailto:giacobbo.nicola@gmail.com">e-mail</a></li>
               <li><a href="https://github.com/giacobbonicola">github.com</a></li>
          		</ul>
			</footer>
		</body>
	</html>
