<</div>  <!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<!-- Navigation -->
        <div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<li><a hret="#">Research </a>
					<ul class="submenu">							  
						<li><a href="/group">Group</a></li>
						<li><a href="/mobse">MOBSE</a></li>
						<li><a href="/sevn">SEVN</a></li>
					</ul>
					</li>
				<a href="/cv">C.V.</a>
				<a href="/interest">Interests</a>
			</ul>
		</div>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<li><a href="mailto:giacobbo.nicola@gmail.com">e-mail</a></li>
					   <li><a href="https://github.com/giacobbonicola">github.com</a></li>
			  </ul>
		</footer>
	</body>
</html>