<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
	</head>
	<body>
		<div class="container"><!-- /.container -->				
					{{ content }}
		</div>
		<!-- Navigation -->
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<a href="/item2">Research </a>
				<a href="/item3">C.V.</a>
				<a href="/item4">Interests</a>
			</ul>
		</div>
		<footer>
		<div class="longtext">
			<p> Hello,  </p>
			<p> my name is Nicola and I'm glad to welcome you on my personal page. Corrently, I'm a Ph.D. student and the main topic of my research consist in studying the demography of compact-object binaries.  </p>	
		</div>
		<footer>
			<ul>
				<li><a style="color:#2D9831" href="mailto:giacobbo.nicola@gmail.com">e-mail</a></li>
			    <li><a style="color:#2D9831" href="https://github.com/giacobbonicola">github.com</a></li>
			</ul>
		</footer>
	</body>
</html>
