<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
	</head>
	<body>
		<div class="container"><!-- /.container -->				
					{{ content }}
		</div>
		<!-- Navigation -->
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<a href="/item2">Research </a>
				<a href="/item3">C.V.</a>
				<a href="/item4">Interests</a>
			</ul>
		</div>
		<footer>
		<div class="longtext">
			<img src="../images/Nicola_Profile.jpg"  alt="Me" width="170" style="margin-left: 10%; margin-right: 10%; float: right">
			<p> Hello,  </p>
			<p> my name is Nicola and I'm glad to welcome you on my personal page. Here you can find more information about my 
				<a href="/item2">research</a>, about <a href="/item4">me</a> and, whether interested, how to contact me. </p>	
			<p> Corrently, I'm a Ph.D. student at the University of Padova where I work with <a href="http://web.pd.astro.it/mapelli">Michela Mapelli</a> 
				and his group. My research focuses on the study of the demography of compact-object binaries in different environments by means
				of population-synthesis simulations and N-body simulation. In particular, my goal is to better understand the evolutinary 
				pathways of compact binaries and how they depend on the proprieties of the stellar progenitor (e.g. metallicity) and on the
				the environment (e.g. star cluster versus field). </p>	
		</div>
		<footer>
			<ul>
				<li><a style="color:#2D9831" href="mailto:giacobbo.nicola@gmail.com">e-mail</a></li>
			    <li><a style="color:#2D9831" href="https://github.com/giacobbonicola">github.com</a></li>
			</ul>
		</footer>
	</body>
</html>
