<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/interests.css">
	</head>
	<body>
		<div class="container"><!-- /.container -->				
					{{ content }}
		</div>
		<!-- Navigation -->
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<a href="/research">Research </a>
				<a href="/cv">C.V.</a>
				<a href="/interests">Interests</a>
			</ul>
		</div>
		<footer>
			<p> ubviafhvhf  ijvo asv jiosvh aos hisdovh asod</p>
		<footer>
			<ul>
				<li><a href="mailto:giacobbo.nicola@gmail.com">e-mail</a></li>
			    <li><a href="https://github.com/giacobbonicola">github.com</a></li>
			</ul>
		</footer>
	</body>
</html>
