<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/research.css">
	</head>
	<body>
		<div class="container"><!-- /.container -->				
					{{ content }}
		</div>		<!-- Navigation -->
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<div class="dropdown">
					<a href="/item2">Research</a>
					<div class="dropdown-content">
						<a href="/item3">List of articles</a>
						<a href="/item2">MOBSE</a>
						<a href="/item2">SEVN</a>
					</div>
				</div>	
				<a href="/item3">C.V.</a>
				<a href="/item4">More</a>
			</ul>
		</div>
		<footer>
		<div>
   		    <h2 style="text-align:center"><span class='r'>For</span>mation and <span class='r'>Dy</span>namics of <span class='r'>S</span>tars</h2>
			<img src="../images/ForDyS.jpg" alt="Person" width="300" style="margin-left: 10%; margin-right: 10%; float: right; border-radius: 30%">
			<div class="longtext">
				<p> I'm part of the reaserch team ForDyS (Formation and Dynamics of Stars) which is lead by Prof. <a href="http://web.pd.astro.it/mapelli">Michela Mapelli</a> 
					at the Astronomical Observatory of Padova. We study the formation and dynamics of stars (and their remnants) by means of population-synthesis 
					and N-Body codes. </p>
				<p>	If you are curious to know more about our research (or about us) visit our web site
					<a href="http://web.pd.astro.it/mapelli/group.html">ForDyS</a> or contact me.</p>
			</div>
		</div>
		<div>
			<h2 style="text-align:center"><span class='r'>M</span>assive <span class='r'>O</span>bjetcs in <span class='r'>B</span>inary <span class='r'>S</span>tellar <span class='r'>E</span>volution</h2>
			<img src="../images/LogoMOBSE.png" alt="Logo" width="200" style="margin-left: 15%; margin-right: 5%; margin-bottom: 5%; margin-top: 5%; float: left">
	        <div class="longtext">
				<p> MOBSE is the population-synthesis code I have developed during my Master's Thesis and my first-year of PhD research 
					(<a href="https://arxiv.org/abs/1711.03556">Giacobbo et al. 2018</a>). It is an upgraded version of BSE (acronym 
					for Binary Stellar Evolution), one of the most popular population-synthesis codes (<a href="http://adsabs.harvard.edu/abs/2000MNRAS.315..543H">Hurley et al. 2000</a>,<a href="http://adsabs.harvard.edu/abs/2002MNRAS.329..897H">2002</a>).</p> 
				<p>	The major upgrades implemented in MOBSE includes: (1) the up-to-date equations for metal-dependent stellar winds (based on 
					<a href="https://arxiv.org/abs/0904.2784">Belczynski et al. 2010</a> and on <a href="https://arxiv.org/abs/1506.01681">Chen et al. 2015</a>), (2) new models for core-collapse SNe (<a href='https://arxiv.org/abs/1110.1726'>Fryer et al. 2012</a>), 
					(3) the prescriptions for the PI (Pair Instability) and PPI (Pulsation Pair Instability) as described in <a href="https://arxiv.org/abs/1706.06109">Spera & Mapelli 2017</a> 
					and (4) new formulas to compute the core radii (<a href="http://adsabs.harvard.edu/abs/2014MNRAS.444.3209H">Hall & Tout 2014</a>). Moreover, one of the most important features of MOBSE is that 
					it includes the dependence of stellar winds on the Eddington factor, adopting the prescription by <a href="https://arxiv.org/abs/1506.01681">Chen et al. 2015</a>. </p>
			</div>
		</div>
		<div>
			<h2 style="text-align:center"><span class='r'>S</span>tellar <span class='r'>EV</span>olution for <span class='r'>N</span>-body code</h2>
			<img src="../images/LogoSEVN.jpg" alt="Logo" width="200" style="margin-left: 5%; margin-right: 10%; float: right; border-radius: 30%; margin-bottom: 5%; margin-top: 5%;">
			<div class="longtext">
				<p> SEVN (presented in <a href="https://arxiv.org/abs/1505.05201">Spera, Mapelli & Bressan 2015</a>) is our new open source population-synthesis code. The mass spectrum of black 
					holes we predicted with SEVN was recently used by the LIGO-Virgo collaboration to constrain the metallicity of the progenitors 
					of GW150914 (<a href="https://arxiv.org/abs/1602.03846">Abbott et al. 2016</a>). 
					SEVN includes (1) up-to-date stellar evolution (through look-up tables), (2) binary evolution, (3) five different recipes for 
					core-collapse supernovae, and (4) an up-to-date formalism for pair-instability and pulsational pair-instability supernovae. 
					Moreover, SEVN is designed to be interfaced with direct-summation N-body codes (such as <a href="https://www.sns.ias.edu/~starlab/">STARLAB</a> and <a href="">HiGPUs</a>). You can 
					download the most recent stable version going to our <a href="https://gitlab.com/mario.spera/SEVN">gitlab project</a>. </p>
				<p> Our group (ForDyS) is still developing new feature in SEVN. In particular I am the main developer of two the modules which handle the common-envelope 
					phase and the generation of supernovae kick. </p>
			</div>
		</div>
		<footer>
			<ul>
					<li><a href="/item5">Contact me</a></li>
			</ul>
		</footer>
	</body>
</html>

