<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<head>
		<title>{{ title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/research.css">
	</head>
	<body>
		<div class="container"><!-- /.container -->				
					{{ content }}
		</div>		<!-- Navigation -->
		<footer>
		<div>
			<ul class="mainmenu">
				<a href="/">Home</a>
				<a href="/item2">Research </a>
				<a href="/item3">C.V.</a>
				<a href="/item4">Interests</a>
			</ul>
		</div>
		<footer>
		<div>
			<h1 style="text-align:center">ForDyS</h1>
   		    <h2 style="text-align:center">Formation and Dynamics of Stars</h2>
			<img src="../images/ForDyS.jpg" alt="Person" width="300" style="margin-left: 10%; margin-right: 10%; float: right">
			<div class="longtext">
				<p> I'm part of the reaserch team ForDyS (Formation and Dynamics of Stars) which is lead by Prof. <a href="http://web.pd.astro.it/mapelli">Michela Mapelli</a> at the Astronomical Observatory of Padova. We study the formation and dynamics of stars (and their remnants) by means of population-synthesis and N-Body codes. </p>
				<p>	If you are curious to know more about our research (or about us), visit our web site <a href="http://web.pd.astro.it/mapelli/group.html">ForDyS</a> .</p>
			</div>
		</div>
		<div>
			<h1 style="text-align:center; margin: 5%">MOBSE</h1>
			<h2 style="text-align:center">Massive Objetcs in Binary Stellar Evolution</h2>
			<img src="../images/Logo.png" alt="Logo" width="170" style="margin-left: 10%; margin-right: 10%; float: left">
	        <div class="longtext">
				<p> MOBSE is the new population-synthesis code I have developed during my Master's Thesis and my first-year of PhD research (Giacobbo et al. preparation). It is an upgraded version of <a href="http://astronomy.swin.edu.au/~jhurley/">BSE</a> (acronym for Binary Stellar Evolution), one of the most popular population-synthesis codes (Hurley et al. 2000,2002).</p> 
				<p>	The major upgrades implemented in MOBSE includes: 1) the up-to-date equations for metal-dependent stellar winds (based on Belczynski et al. 2010 and on Chen et al. 2015), 2) new models for core-collapse SNe (Fryer et al. 2012), 3) the prescriptions for the PI (Pair Instability) and PPI (Pulsation	Pair Instability) described in Spera & Mapelli 2017 and 4) new formualas to compute the core radii (Hout et al. 2004). Moreover, MOBSE includes the dependence of stellar winds on the Eddington factor, adopting the prescription by Chen et al. 2015. </p>
			</div>
		</div>
		<div>
			<h1 style="text-align:center">SEVN</h1>
			<h2 style="text-align:center">The Stellar EVolution for N-body code</h2>
			<div class="longtext">
				<p> SEVN (presented in Spera, Mapelli & Bressan 2015) is our new open source population synthesis code. The mass spectrum of black holes we predicted with 
					SEVN was recently used by the LIGO-Virgo collaboration to constrain the metallicity of the progenitors of GW150914 (Abbott et al. 2016).
					SEVN includes (1) up-to-date stellar evolution (through look-up tables), (2) binary evolution, (3) five different recipes for core-collapse supernovae, 
					and (4) an up-to-date formalism for pair-instability and pulsational pair-instability supernovae. Moreover, SEVN is designed to be interfaced with 
					direct-summation N-body codes (such as STARLAB and HiGPUs). You can download the most recent stable 
					version from the link below, or go to our gitlab project. </p>
				<p> Our group (ForDyS) is still developing new feature in SEVN. In particular I am the main developer of two the modules which handel the commone-envelope 
					phase and the generation of supernovae kick. </p>
			</div>
		</div>
		<footer>
			<ul>
				<li><a href="mailto:giacobbo.nicola@gmail.com">e-mail</a></li>
			    <li><a href="https://github.com/giacobbonicola">github.com</a></li>
			</ul>
		</footer>
	</body>
</html>

