<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav id="NavigationLink" class="leftSection">
	    		<p id="Name" class="NameStyle"> Nicola Giacobbo </p>
			<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
               <li><a href="mailto:giacobbo.nicola@gmail.com">e-mail</a></li>
               <li><a href="https://github.com/giacobbonicola">github.com</a></li>
          		</ul>
			</footer>
		</body>
	</html>
